$brand-color:         #181515;
$highlight:           lighten($brand-color, 35%);
$text-color:          #e6e7d0;
$muted-text-color:    #579941;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;